@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Inter:wght@400;600&family=Cormorant+Garamond:wght@300;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #FFF8F3; /* tu color cream */
  color: #111;
}

#app {
  min-height: 100vh;
  width: 100%;
}